* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url("./Components/assets/bg1.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}
